<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vasanth.hambutton">

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/launch1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Walkthrough"/>
        <activity android:name=".HamButtonActivity"/>
        <activity android:name=".MainActivityDept"/>
        <activity android:name=".branch.CseActivity"/>
        <activity android:name=".branch.EceActivity"/>
        <activity android:name=".MainActivityForZones"/>


    </application>

</manifest>