<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vasanth.hambutton">

    <application
        android:allowBackup="false"
        android:icon="@drawable/aagama_icon_three"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aagama_icon_three"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Walkthrough"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.CseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HamButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityForDev"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityDept"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SkillZone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CseActivity6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityForZones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OpenZone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunZone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.EVEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.PHARMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.EEEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.CHEMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.MECHActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".branch.ITActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.TechnicalQuizECE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.CircuitrixECE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.RamAndRomECE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eeeBranchIndividualActivities.PaperPresentationEEE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eeeBranchIndividualActivities.PosterPresentationEEE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eeeBranchIndividualActivities.ProjectExpoEEE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eeeBranchIndividualActivities.TechnicalQuizEEE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civilBranchIndividualActivities.ProjectPresentationCIV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civilBranchIndividualActivities.InnovativeIdeaPresentationCIV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civilBranchIndividualActivities.PosterPresentationCIV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.MekboltMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.MindsparkMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.PaperPresentationMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.ClayMoulding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.Painting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.Rangoli"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.Dandiya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.MatlabMania"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.Fabulous"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.BrickChallenge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.CreativeSelfie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.KingOfDice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.MockCID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.MirrorWalk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cseBranchIndividualActivities.CodeCup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.LANGaming"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.TechnicalThambola"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.JigsawPuzzle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.PlayZone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eeeBranchIndividualActivities.Circuitrix"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civilBranchIndividualActivities.ThreeDChallenge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civilBranchIndividualActivities.ModelMaking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.TechPowerHunt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.DumbShellElectronics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eceBranchIndividualActivities.CodeBreakers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funZone.DevilFollows"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funZone.BreakItIfYouCan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funZone.Inversion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skillZone.WordWrap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.CodeMazeIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".funZone.FunCarnival"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.PrayogMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.DesignExecuteMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mechBranchIndividualActivities.MeetYourThoughtsMECH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.PosterPresentationIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.MobileAppMockUpIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.PaperPresentationIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.CPUCollabIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.CodeSinkIT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.CascadingCodeIt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".itIndividualActivities.DeadlyHunt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.WordsWorth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".openZone.VirtualJobFair"
            android:screenOrientation="portrait" />
        <activity android:name=".pharmaBranchIndividualActivities.OralPresentationPharma" />
        <activity android:name=".pharmaBranchIndividualActivities.PosterPresentationPharma" />
        <activity android:name=".pharmaBranchIndividualActivities.PharmaQuizPharma" />
        <activity android:name=".cseBranchIndividualActivities.NullClubHackathonCSE" />
        <activity android:name=".eceBranchIndividualActivities.PaperPresentationECE" />
        <activity android:name=".eceBranchIndividualActivities.PosterPresentationECE" />
        <activity android:name=".eceBranchIndividualActivities.ProjectPresentationECE" />
        <activity android:name=".eceBranchIndividualActivities.RoboticsECE" />
        <activity android:name=".cseBranchIndividualActivities.AndroidClubHackathonCSE" />
        <activity android:name=".cseBranchIndividualActivities.FirefoxClubHackathonCSE" />
        <activity android:name=".cseBranchIndividualActivities.CodeKnockoutCSE" />
        <activity android:name=".cseBranchIndividualActivities.IOTHackathonCSE" />
        <activity android:name=".cseBranchIndividualActivities.AnimationClubHackathonCSE" />
        <activity android:name="com.anurag.aagama.aagamaapp.BestOutOfWaste" />
        <activity android:name="com.anurag.aagama.aagamaapp.PuzzleBreak" />
        <activity android:name="com.anurag.aagama.aagamaapp.SaveME" />
        <activity android:name="com.anurag.aagama.aagamaapp.LuckyDraw" />
        <activity android:name="com.anurag.aagama.aagamaapp.DhamLaga" />
        <activity android:name="com.anurag.aagama.aagamaapp.FilmyQuiz" />
        <activity android:name="com.anurag.aagama.aagamaapp.GiftUnwrapping" />
        <activity android:name="com.anurag.aagama.aagamaapp.GolGappa" />
        <activity android:name="com.anurag.aagama.aagamaapp.PharmaTreasureHunt" />
        <activity android:name="com.anurag.aagama.aagamaapp.RopeTieing" />
        <activity android:name="com.anurag.aagama.aagamaapp.SlowCycling"></activity>
    </application>

</manifest>